{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
<div class="container">
    <h1>ALBUMS DISPONIBLES</h1>
    <div class="filet"></div>


    <div class="album_allcards d-flex ">
        <div class="row">
            <tbody>
            {% for album in albums %}
                <div class="album_card col-4">
                
                        {# <td>{{ album.id }}</td> #}
                        <h2>{{ album.nom }}</h2>
                        <div class="album_img">
                            <img src="{{ album.pochette }}" alt="" srcset="">
                        </div>
                        {# <td>{{ album.pochette }}</td> #}
                        <p class="mt-4 mb-0"><span>Artiste : </span>{{ album.artiste }}</p>
                        <p class="mb-0"><span>Sortie : </span>{{ album.sorti ? album.sorti|date('d/m/Y') : '' }}</p>
                        <p class="mb-0"><span>Genre : </span>{{ album.category.title }}</p>
                        
                        {# <td>{{ album.presentation }}</td> #}
                        <div class="btn_action">
                            <a class=" btn btn-primary"href="{{ path('album_show', {'id': album.id}) }}">Voir</a>
                            <a class=" btn btn-success"href="{{ path('album_edit', {'id': album.id}) }}">Modifier</a>
                        </div>
                        
                        
                    
                </div>
            {% else %}
                <tr>
                    <td colspan="8">aucun album enregistré</td>
                </tr>
            {% endfor %}
            </tbody>
            </div>
        </div>

    {% for message in app.flashes('success')%}
    <div class="container">
        <div class="alert alert-success">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    {% for message in app.flashes('danger')%}
        <div class="container">
            <div class="alert alert-danger">
                {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
<div class="bandeau_ajout d-flex justify-content-center align-items-center">
    <h2>Vous souhaitez ajouter un album à la bibliothèque ?</h2>
    <a class=" btn btn-primary ml-3" href="{{ path('album_new') }}">Ajouter un album</a>
</div>


{% endblock %}
